annotated-types==0.7.0
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.8.0
dnspython==2.7.0
email_validator==2.2.0
fonttools==4.58.4
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
pillow==11.2.1
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydyf==0.11.0
pyphen==0.17.2
tinycss2==1.4.0
tinyhtml5==2.0.0
typing-inspection==0.4.1
typing_extensions==4.14.0
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
